@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


 background:black;